{% extends "admin/change_form.html" %}

{% block extrahead %}

  <script>
      const host = 'http://localhost:8000'

      // При открытии страницы мы проверяем, редактируется ли уже эта модель
      fetch(`${host}/is_editing/get/{{ editing_model_name }}/`)
          .then(response => response.json())
          .then(json => {
              if (json.model_name && json.user !== '{{ request.user.username }}') {
                  // Предупреждаем пользователя, что страница была открыта ранее другим пользователем.
                  // Предлагаем редактировать ее либо покинуть.
                  // Если пользователь соглашается редактировать, то у редактируемой модели обновляется пользователь.
                  let changeUser = confirm(`
                      Страница уже открыта ранее пользователем ${json.user}.
                      Последнее время редактирования: ${json.edited_at}.
                      Уверены, что хотите редактировать страницу?
                      `);
                  if (!changeUser) {
                      history.back();
                  } else {
                      fetch(`${host}/is_editing/update_user/{{ editing_model_name }}/`,
                          {
                              method: 'UPDATE',
                              headers: {"X-CSRFToken": '{{ csrf_token }}'},
                          }).then(response => response.json())
                          .then(json => console.log(json))
                  }
              } else if (json.model_name && json.user === '{{ request.user.username }}') {

              } else {
                  fetch(`${host}/is_editing/create/{{ editing_model_name }}/`,
                      {
                          method: 'POST',
                          headers: {"X-CSRFToken": '{{ csrf_token }}'},
                      }).then()
              }
          })

      // Трекер активности пользователя

      const timeOut = 200000; // сколько должно пройти времени, чтобы пользователь стал неактивным (2 минуты)
      let lastActivityTimeStamp = new Date().getTime();
      let userIsActive = false;

      const fixLastActivity = () => {
          // Если пользователь на странице редактирования активе, обновляется время последней активности.
          window.addEventListener('mousemove', updateTimeStampActivity);
          window.addEventListener('keypress', updateTimeStampActivity);
          window.addEventListener('click', updateTimeStampActivity);
      }
      const updateTimeStampActivity = () => lastActivityTimeStamp = new Date().getTime();
      const updateModel = (lastActivityTimeStamp, timeOut) => {
          // если пользователь активный, то у EditingNow модели обновляется время последнего редактирования
          const delta = new Date().getTime() - lastActivityTimeStamp;
          userIsActive = delta < timeOut;
          if (userIsActive) {
              fetch(`${host}/is_editing/update/{{ editing_model_name }}/`,
                  {
                      method: 'UPDATE',
                      headers: {"X-CSRFToken": '{{ csrf_token }}'},
                  }).then(response => response.json())
                  .then(json => {
                          if (json.alert) {
                              alert(`Пользователь ${json.user} начал редактировать страницу.`)
                          }
                      }
                  )
          }
      }
      fixLastActivity();
      setInterval(() => updateModel(lastActivityTimeStamp, timeOut), 30000);
  </script>

  <script type="text/javascript">
      // Решение отсюда:
      // https://stackoverflow.com/questions/23690666/check-if-my-website-is-open-in-another-tab
      // Broadcast that you're opening a page.
      localStorage.openpages = Date.now();
      const onLocalStorageEvent = function (e) {
          if (e.key == "openpages") {
              // Listen if anybody else is opening the same page!
              localStorage.page_available = Date.now();
          }
          if (e.key == "page_available") {
              alert("One more page already open");
          }
      };
      window.addEventListener('storage', onLocalStorageEvent, false);
  </script>

{% endblock %}