{% extends "admin/change_form.html" %}

{% block extrahead %}

  <script>
      const host = 'http://localhost:8000'

      // Трекер активности пользователя

      const timeOut = 200000; // сколько должно пройти времени, чтобы пользователь стал неактивным (2 минуты)
      let lastActivityTimeStamp = new Date().getTime();
      let userIsActive = false;

      const fixLastActivity = () => {
          // Если пользователь на странице редактирования активе, обновляется время последней активности.
          window.addEventListener('mousemove', updateTimeStampActivity);
          window.addEventListener('keypress', updateTimeStampActivity);
          window.addEventListener('click', updateTimeStampActivity);
      }
      const updateTimeStampActivity = () => lastActivityTimeStamp = new Date().getTime();
      const updateModel = (lastActivityTimeStamp, timeOut) => {
          // если пользователь активный, то у EditingNow модели обновляется время последнего редактирования
          const delta = new Date().getTime() - lastActivityTimeStamp;
          userIsActive = delta < timeOut;
          if (userIsActive) {
              fetch(`${host}/is_editing/update/{{ editing_model_name }}/`,
                  {
                      method: 'UPDATE',
                      headers: {"X-CSRFToken": '{{ csrf_token }}'},
                  }).then(response => response.json())
                  .then(json => console.log(json))
          }
      }
      fixLastActivity();
      setInterval(() => updateModel(lastActivityTimeStamp, timeOut), 30000);


      // При открытии страницы мы проверяем, редактируется ли уже эта модель
      fetch(`${host}/is_editing/get/{{ editing_model_name }}/`)
          .then(response => response.json())
          .then(json => {
              if (json.model_name) {
                  // Предупреждаем пользователя, что страница была открыта ранее.
                  // Предлагаем редактировать ее либо покинуть.
                  let changeUser = confirm(`
                      Страница уже открыта ранее пользователем ${json.user}.
                      Уверены, что хотите редактировать страницу?
                      `);
                  if (!changeUser) {
                      history.back();
                  } else {
                      fetch(`${host}/is_editing/update_user/{{ editing_model_name }}/`,
                          {
                              method: 'UPDATE',
                              headers: {"X-CSRFToken": '{{ csrf_token }}'},
                          }).then(response => response.json())
                          .then(json => console.log(json))
                  }
              } else {
                  fetch(`${host}/is_editing/create/{{ editing_model_name }}/`,
                      {
                          method: 'POST',
                          headers: {"X-CSRFToken": '{{ csrf_token }}'},
                      }).then()
              }
          })

  </script>
{% endblock %}