{% extends "admin/change_form.html" %}

{% block extrahead %}

  <script type="text/javascript">
      const host = 'http://localhost:8000'
      const userActivityTimeOut = 200000;  // The time before user becomes inactive (2 minutes).
      const updateModelInterval = 30000; // Update interval time of the last edit (30 seconds).
      const modelName = '{{ editing_model_name }}';
      const CSRFToken = '{{ csrf_token }}'
      const updateUserUrl = `${host}/is_editing/update_user/${modelName}/`,
          createEditingModelUrl = `${host}/is_editing/create/${modelName}/`,
          checkModelIsEditingUrl = `${host}/is_editing/get/${modelName}/`,
          updateLastEditTimeUrl = `${host}/is_editing/update/{{ editing_model_name }}/`;

      const confirmToEdit = ({user, edited_at}) => {
      // Warn the user that the page was opened earlier by another user.
      // Suggest to user edit or leaving it.
      // If the user agrees to edit, for the edited model updates user.
          return confirm(
`Page was opened by user ${user} earlier.
Last time it was edited at ${edited_at}.
Are you sure you want edit this page?`);
      }

      async function updateUser(url) {
          const response = await fetch(url,
              {method: 'UPDATE', headers: {"X-CSRFToken": CSRFToken}})
          const result = await response.json()
          console.log(result)
      }

      async function createEditingModel(url) {
          await fetch(url, {method: 'POST', headers: {"X-CSRFToken": CSRFToken}})}

      async function checkModelIsEditing(url) {
          const response = await fetch(url)
          const result = await response.json()
          if (result.model_name && result.user !== '{{ request.user.username }}') {
              let isNeedChangeUser = confirmToEdit(result)
              isNeedChangeUser ? await updateUser(updateUserUrl) : history.back();
          } else await createEditingModel(createEditingModelUrl)
      }

      async function updateLastEditTime(url) {
          const response = await fetch(url,
              {method: 'UPDATE', headers: {"X-CSRFToken": CSRFToken}})
          const result = await response.json()
          if (result.alert) {
              alert(`User ${result.user} started edit this page.`)
          }
      }

      // Check the page is editing now by another user.
      checkModelIsEditing(checkModelIsEditingUrl)

      // User activity tracker
      const timeOut = userActivityTimeOut;
      let lastActivityTimeStamp = new Date().getTime();
      let userIsActive = false;

      const fixLastActivity = () => {
          // If user is still active on the page, update time of last activity.
          window.addEventListener('mousemove', updateTimeStampActivity);
          window.addEventListener('keypress', updateTimeStampActivity);
          window.addEventListener('click', updateTimeStampActivity);
      }
      const updateTimeStampActivity = () => lastActivityTimeStamp = new Date().getTime();

      const updateModel = (lastActivityTimeStamp, timeOut) => {
          // If user is active, update last edit time in EditingNow model.
          const delta = new Date().getTime() - lastActivityTimeStamp;
          userIsActive = delta < timeOut;
          if (userIsActive) updateLastEditTime(updateLastEditTimeUrl)
      }
      fixLastActivity();
      setInterval(() => updateModel(lastActivityTimeStamp, timeOut), updateModelInterval);
  </script>

  <script type="text/javascript">
      // Broadcast that you're opening a page.
      localStorage.openPage = Date.now();
      const onLocalStorageEvent = (event) => {
          if (event.key === "openPage") {
              // Listen if anybody else is opening the same page.
              localStorage.pageAvailable = Date.now();
          }
          if (event.key === "pageAvailable") {
              alert("One more page already open");
          }
      };
      window.addEventListener('storage', onLocalStorageEvent, false);
  </script>

{% endblock %}